.page-item.active .page-link {
  background-color: rgb(5, 63, 108);
}
.page-item.disabled .page-link {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}
.pagination{
    display: flex;
    width: 40%;
    align-items: center;
}
.pagination1{
    width: 100%;
    display: flex;
    justify-content: center
}
.page-link1{

    color: white;
  

}
.page-link2{

    color: white;

}
.rozmir{
    width: 28px; 
     height: 28px; 
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-size: 18px;
    border-radius: 10%;
}
.page-item{
    color: white;
}