.country {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.country-list {
  width: 47%;
}
.country-list2 {
  width: 40%;
}
.search-container {
  display: flex;
  justify-content: center;
}

.country-info {
  margin-right: 5px;
  color: white;
}
.country-item {
  border: 1px solid rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  width: 100%;
}

.item-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  margin-left: 2%;
}
.item-left img {
  width: 55px;
  height: 45px;
  margin-right: 2%;
}
.coat-of-arms {
  width: 50%;
  height: auto;
}
.index {
  color: white;
}
.white {
  color: white;
}
.country-item:hover {
  background-color: #055b12;
}
.text{
  display: flex;
}
.item-right{
  display: flex;
}
@media(max-width:1100px)
{
  .country-list{
    width: 75%;
  }
   .country-item {
    pointer-events: none;
    cursor: default;
  }
}
@media(max-width:1400px)
{
  a{
    font-size: 15px;
  }
}
@media(max-width:936px)
{
  .country-list{
    width: 85%;
  }
}
@media(max-width:680px)
{
  .country-list{
    margin-left: 4%;
    margin-right: 4%;
    width: 100%;
  }
  .country-item {
    height: 30px;
  }
  .item-left img {
    width: 25px;
    height: 15px;
  }
  a{
    font-size: 12px;
  }
  .item-left {
    width: auto;
    margin-left: 2%;
  }
  .item-left img {
    margin-left: 30%;
  }
}
@media(max-width:360px)
{
  a{
    font-size: 9px;
  }
}