.pagination{
    display:flex;
    margin-top: 2.3%;
    justify-content: space-between; 
}
.page-item{
    margin-left: 20px;
}
.conteinerSort{
    margin-top: 2%;
    width: 60%;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}
.button{
   height: 20px;
}