/* @import "leaflet/dist/leaflet.css"; */
.img-details{
    margin-top: 2%;
    width:  90%;
    height: auto;
}
.country-details{
    color: white;
    font-size: 40px;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.details-container{
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 40%;
    background-color: rgb(4, 37, 37);
    border-radius: 10px;
    border: 2px solid rgb(12, 64, 14);
}
.details-container
{
    margin: 2%;
    color: white;
    font-size: 20px;
}

.img-details2{
    width:  90%;
    height: auto;
}
.details-container-gerb{
    margin-top: 2%;
    width: 20%;
}
.about{
    margin: 1%;
}
.region-details{
    color: white;
    border: 1px solid rgb(12, 64, 14);
}
.region-details2{
    margin-top: 20%;
    font-size: 20px;
    color: white;
    border: 1px solid rgb(12, 64, 14);
}
.width{
    width: 30%;
}