.img-details {
  margin-top: 2%;
  width: 90%;
  height: auto;
}
.country-details {
  color: white;
  font-size: 40px;
}
.butto {
  color: rgb(52, 10, 137);
  background-color: rgb(159, 157, 204);
  width: 100px;
  height: 25px;
  font-size: 15px;
  cursor: pointer;
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
  justify-content: center;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.flex2 {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.flex1 {
  display: flex;
  justify-content: center;
  height: 40px;
}
.details-container {
  display: flex;
  justify-content: start;
  flex-direction: column;
  background-color: rgb(14 10 119 / 23%);
  border-radius: 10px;
  border: 2px solid rgb(8 197 15);
}
.butto.active {
  background-color: green;
  color: white;
}
.details-container {
  margin-left: 2%;
  margin-right: 2%;
  color: white;
  font-size: 20px;
}

.img-details2 {
  margin-top: 5%;
  width: 40%;
  height: auto;
}
.details-container-gerb {
  margin-top: 2%;
  width: 20%;
}
.details-container-gerb img {
  margin-top: 2%;
  width: 20%;
}

.region-details {
  color: white;
  border: 1px solid rgb(46 180 143);
}
.region-details2 {
  margin-top: 10%;
  font-size: 20px;
  color: white;
  border: 1px solid rgb(12, 64, 14);
}
.width {
  width: 30%;
}
.strong {
  color: blue;
  cursor: pointer;
  font-size: 20px;
}
.strong2 {
  color: blue;
  cursor: pointer;
  font-size: 18px;
}
.width2 {
  margin: 1%;
  width: 50%;
}
@media (max-width: 950px) {
  .details-container {
    font-size: 15px;
  }
  .country-details {
    font-size: 30px;
  }
  .strong {
    font-size: 15px;
  }
  .region-details2 {
    font-size: 15px;
  }
}
@media (max-width: 600px) {
  .flex {
    flex-direction: column;
  }
  .width2 {
    width: auto;
  }
  .details-container-gerb {
    width: auto;
  }
  .region-details2 {
    margin-top: 10px;
  }
  .flex3{
    display: flex;
    width: 100%;
  }
  .flex2{
    width: 59%;
  }
  .img-details2 {
    margin-left: 8%;
  }
  .flex1{
    margin-top: 5%;
  }
}
